* {
    font-family: "PT Mono";
}

// Typography

// Font Family
$PT-Mono: 'PT Mono', monospace;//regular
$roboto:'Roboto', sans-serif;//light

// Font Weight
$lighter: 300;
$regular: 400;

// Font Sizes
$medium:16px;
$large: 18px;
$x-large:30px;
$xx-large: 40px;