// Color Scheme

// First Color Scheme 
$white: #fff;
$Isabelline: #EEEDED;
$Spanishgray: #989797;

// Second Color Scheme
$coral: #FA824C;
$Buff: #F1DD7B;
$vanilla: #F5E7A1;

// Third Color Scheme
$flame: #E4572E;
$LightRedOchre:#E87554;
$PastelPink: #f2b2a0;

// Fourth Color Scheme
$shinyShamrock: #4CA866;
$TurquoiseGreen: #9DCFAB;
$PastelGray: #BDDFC7;

// Fiveth Color Scheme
$blueFrance:#3C91E6;
$blueJeans:#5FA5EA;
$jordyBlue:#82B9EF;

// Sixth Color Scheme
$black:#000000;
$outer-space:#454545;
$QuickSilver: #a2a2a2;



